body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
}
span{
    color: blue;
}
.menu{
    background-color: #E9E9E9;
    color: grey;
    width: 300px;
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    border-radius: 20px;
}
.conta{
    background-color: #E9E9E9;
    color: black;
    font-weight: bold;
    font-size: larger;
    margin-right: 10px;
    margin-left: 1200px;
    margin-top: -51px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.subtitulo{
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
}
.selecionado{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;  
}
.selecionado-sem-cor{
    border-radius: 20px;
    padding: 10px;  
}
.aba1{
    margin-top: 50px;
}
.aba2{
    margin-top: 50px;
}
.titulo{
    font-weight: bold;
    color: black
}
.bloco2{
    color: grey;
    margin-top: 10px;
    margin-left: 370px;
}
.pesquisar{
    background-color: #E9E9E9;
    padding: 1px;
    border-radius: 20px;
    margin-right: 500px;
}
.home-dashboard{
    margin-top: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.update{
    position: unset;
    background-color: #E9E9E9;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 155px;
    font-weight: bold;
    float: left;
}
.notrevenue{
    background-color: #E9E9E9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 175px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
}
.weeklysales{
    background-color: #E9E9E9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 175px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
}
.pagevisits{
    background-color: #E9E9E9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 210px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
}
.bloco-3{
    color: grey;
    margin-top: 190px;
    margin-right: 0px;
}
.products-l{
    background-color: #E9E9E9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 140px;
    border-radius: 20px;
    font-weight: bold;
    float: left;
}
.products-s{
    margin-left: 10px;
    border-radius: 10px;
    float: left;
}
.products-t{
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 112px;
    border-radius: 20px;
    font-weight: bold;
    float: left;
}
.products-p {
    background-color: #E9E9E9;
    padding-top: 59px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 140px;
    border-radius: 20px;
    font-weight: bold;
    float: left;
}
.color{
    color: grey;
}
.quadrado-1{
    background-color: lightblue;
    margin-right: 187px;
    margin-left: 735px;
    padding-left: 10px;
    padding-top: -10px;
    padding-bottom: 330px;
    border-radius: 20px;
}
.aba-1{
    padding: 10px;
    float: left;
}
.grafico-1{
    background-color: grey;
    width: 35px;
    height: 50px;
    margin-top: 238px;
    margin-right: 8px;
    margin-left: 30px;
}
.grafico-1-1{
    background-color: darkblue;
    width: 35px;
    height: 75px;
    margin-top: 213px;
}
.grafico-2{
    background-color: grey;
    width: 35px;
    height: 30px;
    margin-top: 258px;
    margin-right: 8px;
    margin-left: 30px;
}
.grafico-1-2{
    background-color: darkblue;
    width: 35px;
    height: 55px;
    margin-top: 233px;
}
.grafico-3{
    background-color: grey;
    width: 35px;
    height: 85px;
    margin-top: 203px;
    margin-right: 8px;
    margin-left: 30px;
}
.grafico-1-3{
    background-color: darkblue;
    width: 35px;
    height: 125px;
    margin-top: 163px;
}
.grafico-4{
    background-color: grey;
    width: 35px;
    height: 85px;
    margin-top: 203px;
    margin-right: 8px;
    margin-left: 30px;
}
.grafico-1-4{
    background-color: darkblue;
    width: 35px;
    height: 90px;
    margin-top: 198px;
}
.orders{
    float: left;
    color: grey;
}
.quadradinhos{
   margin-top: 75px;
   margin-left: 20px;
    float: left; 
}
.fila1{
    margin-top: 10px;
    float: left;
}
.fila2{
    margin-top: 10px;
    padding-top: 35px;
    margin-left: -202px;
    float: left;
}
.fila3{
    margin-top: 10px;
    padding-top: 70px;
    margin-left: -202px;
    float: left;
}
.fila4{
    margin-top: 10px;
    padding-top: 105px;
    margin-left: -202px;
    float: left;
}
.fila5{
    margin-top: 10px;
    padding-top: 140px;
    margin-left: -202px;
    float: left;
}
.grafico-numeros{
    padding-top: 250px;
    color: grey;
}
.bloco-4{
    background-color: lightblue;
    margin-left: 735px;
    margin-top: 10px;
    margin-right: 550px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 22px;
    padding-right: 10px;
    border-radius: 20px;
}
.bloco-5{
    background-color: lightblue;
    float: left;
    margin-left: 380px;
    margin-top: -330px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 20px;
}